/* Laptopy a běžné desktopy */
@media (min-width: 992px) and (max-width: 1025px) {
    body {
        background: white;
    }
}

/* Tablety a menší notebooky */
@media (min-width: 769px) and (max-width: 992px) {
    body {
        background: green;
    }
}

/* Telefony na šířku, menší tablety */
@media (min-width: 578px) and (max-width: 768px) {
    body {
        background: yellow;
    }
}

/* Telefony (mobilní zařízení) */
@media (max-width: 576px) {
    body {
        background: white;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    #logo {
        display: flex;
        transform: scale(200%);
        margin-top: 100px;
    }

    nav {
        width: 50%;
        margin-left: 25px;

        ul li {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px dashed black;


            a {
                font-size: 2rem;
                padding: 50px;

            }
        }
    }

    nav #home a {
        background-image: none;
        margin-top: 20px;
    }

    nav #recepty a {
        background-image: none;
    }

    nav #blogg a {
        background-image: none;
    }

    nav #eshop a {
        background-image: none;
    }

    nav #kontakty a {
        background-image: none;
    }

    #bocni {
        display: none;

    }

    #uvod {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #food-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #slide {
        margin-top: 80px;
        display: flex;
        width: 80%;
    !important;

        h1 {
            margin-top: 90px;
            font-size: 3.2rem !important;
        }

        h2 {
            font-size: 2.2rem;
            margin-top: 170px;
        }
    }

    #newsletter {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: none;
        background-size: 7%;

        p {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 1.4rem;
            width: 60%;
            line-height: 40px;
            margin-left: 150px;
        }

    }

    #submit {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    #newsletter form {
        margin-left: 350px;
        width: 40%;
        transform: scale(160%);
    }

    #formular {
        border-top: 3px dashed #E5E5E5;
        border-bottom: 3px dashed #E5E5E5;

    }

    #blog article {
        width: 70%;
    }

    #blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #content {
        width: 100%;
    }

    .article_text {
        font-size: 2rem;
    }

    #paticka {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

        p {
            width: 50%;
            text-align: center;
        }
    }

    .social {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 150px;
    }

    #content #headline {
        font-size: 3rem;
    !important;
        text-align: center;
    }

}




